
.vs/PriendWeb/v16/Server/sqlite3/db.lock
PriendWeb/obj/Debug/netcoreapp3.1/PriendWeb.csprojAssemblyReference.cache
.vs/PriendWeb/v16/Server/sqlite3/storage.ide-wal
.vs/PriendWeb/v16/.suo
.vs/PriendWeb/v16/Server/sqlite3/storage.ide-wal
.vs/PriendWeb/DesignTimeBuild/.dtbcache
.vs/PriendWeb/v16/Server/sqlite3/storage.ide
.vs/PriendWeb/v16/Server/sqlite3/storage.ide-shm
.vs/PriendWeb/v16/Server/sqlite3/storage.ide-wal
*.cache
